.welcomeMsg {
    font-size: 9pt;
    font-weight: bold;
    margin: 0px;
    padding: 3px;
}

/*
    common style bases
*/

.reset {
    -moz-appearance: none;
}

.debug1 {
    border: red solid 1px;
}

.debug2 {
    border: green solid 1px;
}

.debug3 {
    border: blue solid 1px;
}

.debug4 {
    border: yellow solid 1px;
}

#_bMainPanelSplitter {
    border-top: 1px solid #c0c0c0;
}

#_bMainPanel {
}

#_bTestProgress {

}

#_bRunTestBox {

}

/*
    data panel related
*/

#tabpanels-data {
    padding-top:1px;
    padding-left: 0px;
    padding-right: 0px;
}

#tabpanel-data {
    margin-left: 0px;
}

/* this is just a test*/
#bench-toolbar-button {
    list-style-image: url('chrome://bench/skin/icon-24px.png');
}

#bench-statusbar-icon {
    width: 24px;
    margin: 0px;
}